.tabs {
    float: left;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5px;
}

:host ::ng-deep .tabs > img {
    margin: 5px;
    box-sizing: border-box;
}