<zuknglib-tabs>
  <zuknglib-tab header="Sample 1">
    Tab 1 content
  </zuknglib-tab>
  <zuknglib-tab header="Sample 2" [selected]="true">
    Tab 2 content
  </zuknglib-tab>
</zuknglib-tabs>

<div style="margin-top: 120px">
    <zuknglib-overlay overlayAnimationKind="leftToRight">
        <div class="card">
            <div class="container">
                <span>Some other text, yeah!</span>
            </div>
        </div>
        <div class="overlayContent" overlay>
            <span>Some other overlay text, yeah!</span>
        </div>
    </zuknglib-overlay>
</div>